<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file *must* be named App.config, and not App1.config etc. 
-->
<!-- 
This is the list of application compatibility switches in WPF that are set via App.Config. 
The values shown below are the defaults for the respective switch. 
-->
<configuration>
  <appSettings>
    <!-- Defined in CoreCompatibilityPreferences -->
    <!-- 
    <add key="IsAltKeyRequiredInAccessKeyDefaultScope" value="false"/>
    <add key="EnableMultiMonitorDisplayClipping" value="null"/>
    <add key="IncludeAllInkInBoundingBox" value="true"/>
    -->
    
    
    <!-- Defined in BaseCompatibilityPreferences -->
    <!-- 
    <add key="ReuseDispatcherSynchronizationContextInstance" value="false"/>
    <add key="FlowDispatcherSynchronizationContextPriority" value="true"/>
    <add key="InlineDispatcherSynchronizationContextSend" value="true"/>
    <add key="HandleDispatcherRequestProcessingFailure" value="Continue"/>
    <add key="MatchPackageSignatureMethodToPackagePartDigestMethod" value="true"/>
    -->
    
    <!-- Defined in FrameworkCompatibilityPreferenes -->
    <!-- 
    <add key="AreInactiveSelectionHighlightBrushKeysSupported" value="true"/>
    <add key="KeepTextBoxDisplaySynchronizedWithTextProperty" value="true"/>
    <add key="ShouldThrowOnCopyOrCutFailure" value="false"/>
    <add key="HandleTwoWayBindingToPropertyWithNonPublicSetter" value="Allow"/>
    <add key="UseSetWindowPosForTopmostWindows" value="false"/>
    <add key="VSP45Compat" value="false"/>
    -->
  </appSettings>
</configuration>